@page "/user"
@attribute [Authorize]

<Table TItem="UserFormViewModel"
       IsPagination="true" PageItemsSource="@PageItemsSource"
       IsStriped="true" IsBordered="true" SearchModel="@SearchModel" ShowSearch="true"
       ShowToolbar="true" IsMultipleSelect="true" ShowExtendButtons="false"
       ShowDefaultButtons="false"
       OnQueryAsync="@OnQueryAsync">
    <TableToolbarTemplate>
        <Button Color="Color.Primary" Icon="fa fa-fw fa-plus" @onclick="e => AddModal.Toggle()">新增</Button>
        <Button Color="Color.Info" Icon="fa fa-fw fa-edit" @onclick="e => EditModal.Toggle()">编辑</Button>
        <Button Color="Color.Danger" Icon="fa fa-fw fa-trash" @onclick="e => AddModal.Toggle()">删除</Button>
    </TableToolbarTemplate>
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Filterable="true" Sortable="true" Searchable="true" />
        <TableColumn @bind-Field="@context.TrueName" Filterable="true" Sortable="true" />
        <TableColumn @bind-Field="@context.Gender" Filterable="true" Sortable="true" />
        <TableColumn @bind-Field="@context.CardId" Filterable="true" Sortable="true" />
        <TableColumn @bind-Field="@context.Phone" Filterable="true" Sortable="true" />
    </TableColumns>
</Table>

@*新增模态框*@
<Modal @ref="AddModal">
    <ModalDialog IsScrolling="true" Title="新增用户">
        <BodyTemplate>
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>用户名</label>
                            <BootstrapInput type="text" maxlength="5" placeholder="请输入用户名" @bind-Value="@UserAdd.User.UserName">
                                <RequiredValidator />
                                <StringLengthValidator Length="5" />
                            </BootstrapInput>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>真实姓名</label>
                            <BootstrapInput type="text" maxlength="5" placeholder="请输入真实姓名" @bind-Value="@UserAdd.User.TrueName">
                                <RequiredValidator />
                                <StringLengthValidator Length="5" />
                            </BootstrapInput>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>性别</label>
                            @*<Radio IsDisabled="false" Items="@GenderEnumItems.Select(x=> new SelectedItem { Text = x.Value ,Value = x.Key })"></Radio>*@
                            <Select TValue="Gender" @bind-Value="@UserAdd.User.Gender">
                                <SelectItems>
                                    @foreach (var item in GenderEnumItems)
                                    {
                                        <SelectItem Text="@item.Text" Value="@item.Value" />
                                    }
                                </SelectItems>
                            </Select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>身份证号码</label>
                            <BootstrapInput type="text" placeholder="请输入身份证号码" @bind-Value="@UserAdd.User.CardId">
                            </BootstrapInput>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>手机号码</label>
                            <BootstrapInput type="text" placeholder="请输入手机号码" @bind-Value="@UserAdd.User.Phone">
                            </BootstrapInput>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>启用状态</label>
                            <Select TValue="IsEnabled" @bind-Value="@UserAdd.User.IsEnabled">
                                <SelectItems>
                                    @foreach (var item in IsEnabledEnumItems)
                                    {
                                        <SelectItem Text="@item.Text" Value="@item.Value" />
                                    }
                                </SelectItems>
                            </Select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>角色</label>
                            <Select TValue="Guid?" @bind-Value="@UserAdd.User.RoleId">
                                <SelectItems>
                                    @foreach (var item in RoleEnumItems)
                                    {
                                        <SelectItem Text="@item.Text" Value="@item.Value" />
                                    }
                                </SelectItems>
                            </Select>
                        </div>
                    </div>
                </div>
            </form>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="Color.Success" Icon="fa fa-fw fa-save" @onclick="@AddModalSaveClick">保存</Button>
        </FooterTemplate>
    </ModalDialog>
</Modal>

<Toast @ref="Toast"></Toast>

@*编辑模态框*@
<Modal @ref="EditModal">
    <ModalDialog IsScrolling="true" Title="编辑用户">
        <BodyTemplate>
            <div class="form-inline">
                <div class="row">
                    <div class="form-group col-6">
                        <label class="control-label">用户名</label>
                    </div>
                    <div class="form-group col-6">
                        <BootstrapInput type="text" DisplayText="chris" maxlength="5" placeholder="请输入用户名" @bind-Value="@UserAdd.User.UserName">
                            <RequiredValidator />
                            <StringLengthValidator Length="5" />
                        </BootstrapInput>
                    </div>
                </div>
            </div>
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="Color.Success" Icon="fa fa-fw fa-save">保存</Button>
        </FooterTemplate>
    </ModalDialog>
</Modal>

@code {

    
}
